  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container-fluid px-5">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h1><a href="/" style="color:white;">My<span style="color:red">Portfolio</span></a></h1>
            
          
          </div>

     
          <div class="col-12 mx-auto">
            <div class="social-links col-lg-3 col-sm-12 mx-auto">
              <a href="https://github.com/bisomaticc" class="twitter"><i class="fa fa-github"></i></a>
              <a href="https://in.linkedin.com/in/rahul-pareek-8a241b14b/" class="linkedin"><i
                  class="fa fa-linkedin"></i></a>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Portfolio</strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="https://in.linkedin.com/in/rahul-pareek-8a241b14b" style="color:#f82249">Rahul Pareek</a>
      </div>
    </div>
  </footer><!-- #footer -->
